# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build

# Testing
coverage

# IDE
.idea
.vscode

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Readme (not needed in container)
README.md
